<!-- Windstormさんを表示する為にheroプロパティを設定する -->
<h2>My Heroes</h2>
<ul class="heroes">
  <!-- heroesは配列定数HEROESが代入されている -->
  <li *ngFor="let hero of heroes">
    <button type="button">
      <span class="badge">{{ hero.id }}</span>
      <span class="name">{{ hero.name }}</span>
    </button>
  </li>
</ul>
<div><span>id: </span>{{ hero.id }}</div>
<div><span>name: </span>{{ hero.name }}</div>

<div>
  <label for="name">Hero name: </label>
  <input id="name" [(ngModel)]="hero.name" placeholder="name">
</div>