<!-- Windstormさんを表示する為にheroプロパティを設定する -->
<h2>My Heroes</h2>
<ul class="heroes">
  <!-- heroesは配列定数HEROESが代入されている -->
  <li *ngFor="let hero of heroes">
    <!-- heroとselectedHeroが同じ場合、selectedclassが適用される -->
    <button [class.selected]="hero === selectedHero" type="button" (click)="onSelect(hero)">
      <span class="badge">{{ hero.id }}</span>
      <span class="name">{{ hero.name }}</span>
    </button>
  </li>
</ul>


<app-hero-detail [hero]="selectedHero"></app-hero-detail>

<div><span>id: </span>{{ hero.id }}</div>
<div><span>name: </span>{{ hero.name }}</div>

<div>
  <label for="name">Hero name: </label>
  <input id="name" [(ngModel)]="hero.name" placeholder="name">
</div>